.cart__item img {
    width: 5rem;
    height: 5rem;
}

.cart__product-info {}

.cart__product-title {
    font-weight: 600;
    font-size: .8rem;
}

.cart__price {
    font-size: .8rem;
    margin-bottom: 0;
}

.cart__price span {
    font-size: .9rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.cart__increase {
    border: 1px solid var(--secondary-background-color);
    width: max-content;
    margin-top: .5rem;
    font-size: .7rem;
    border-radius: 3px;
    overflow: hidden;
    user-select: none;
}

.cart__increase-button {
    background: var(--secondary-background-color);
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
    transform: none;
}

.cart__increase-button:hover {
    color: var(--secondary-color);
}

.cart__delete {
    cursor: pointer;
    transition: all .3s ease;
}

.cart__delete:hover {
    opacity: .8;
}