.feature {}

.feature__title span,
.feature__subtitle {
    color: var(--secondary-color);
}

.feature__text {
    color: #777;
    width: 35rem;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.feature__item p {
    color: #777;
}