.search-widget,
.sorting-widget select {
    border: 1px solid var(--secondary-background-color);
    padding: .5rem .7rem .5rem 1rem;
    border-radius: 5px;
    background: #fff;
}

.sorting-widget {
    height: 100%;

    display: flex;
    justify-content: flex-end;
}

.sorting-widget select,
.search-widget {
    width: 75%;
}

.search-widget input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.search-widget span {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .sorting-widget select,
    .search-widget {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .search-widget {
        margin-bottom: 30px;
    }
}