.product__thumbnails-item img {
    width: 64%;
}

.product__thumbnails-item:not(:last-child) img {
    margin-bottom: 20px;
}

.product__info {
    padding-left: 50px;
}
.product__category,
.product__price {
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 100%;
}

.product__main-image img {
    width: 100%;
}

.product__price span {
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 600;
    display: flex;
    line-height: 100%;
    user-select: none;
}

.product__thumbnails-item img {
    border: 1px solid transparent;
    cursor: pointer;
}

.product__thumbnails-item_a img {
    border-color: var(--secondary-background-color);
}

.product__category span {
    font-size: 1rem;
    background: var(--secondary-background-color);
    padding: .7rem;
    border-radius: 5px;
    user-select: none;
}

.product__description {
    color: #777;
}

.product__tab h6 {
    margin-bottom: 15px;
    cursor: pointer;
    transition: all .3s ease;
}

.product__tab {
    border-bottom: 1px solid var(--secondary-background-color);
    margin-bottom: 15px;
}

.product__tab_a {
    color: var(--secondary-color);
}

.review-form {
    width: 60%;
    margin: auto;
    background: var(--secondary-background-color);
    padding: 1rem;
    border-radius: 5px;
}

.review-form button {
    margin-left: auto;
    margin-top: 15px;
    display: block;
}

.review-form input {
    margin-bottom: 15px;
}

.review__name {
    font-weight: 600;
    display: flex;
    line-height: 100%;
}

.review__email {
    font-size: .8rem;
    color: var(--secondary-color);
}

.review__text {
    color: #777;
}

.product__tab-content__item {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: transform .3s ease, position 0s ease .3s;
    position: absolute;
}

.product__tab-content__item_a {
    position: relative;
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .product__buttons button,
    .product__buttons a {
        width: 100%;
    }
    .product__buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .product__info {
        padding: 0;
    }

    .product__thumbnails {
        display: flex;
        gap: 1rem;
        margin: 1rem 0 3rem 0;
    }

    .product__thumbnails img {
        width: auto;
        margin: 0!important;
    }
}