.common-section {
    background: linear-gradient(rgba(33, 34, 69, 0.5), rgba(33, 34, 69, 0.5)), url("../../../assets/images/banner.jpg") no-repeat center;
    background-size: cover;
    padding: 5rem 0;
}

.common-section h2 {
    color: #fff;
}